@mixin border_radius($radiusWidth) {
    -moz-border-radius: $radiusWidth;
    -webkit-border-radius: $radiusWidth;
    -o-border-radius: $radiusWidth;
    -ms-border-radius: $radiusWidth;
    -khtml-border-radius: $radiusWidth;
    border-radius: $radiusWidth;
}