@mixin box_sizing() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin border_radius($radiusWidth) {
    -moz-border-radius: $radiusWidth;
    -webkit-border-radius: $radiusWidth;
    -o-border-radius: $radiusWidth;
    -ms-border-radius: $radiusWidth;
    -khtml-border-radius: $radiusWidth;
    border-radius: $radiusWidth;
}

@mixin text_shadow($xSpread, $ySpread, $thickness, $shadowColor) {
	text-shadow: $xSpread $ySpread $thickness $shadowColor;
}

@mixin box_shadow($horizontal, $vertical, $spread, $color){
    -webkit-box-shadow: $horizontal $vertical $spread $color;
    -moz-box-shadow: $horizontal $vertical $spread $color;
    box-shadow: $horizontal $vertical $spread $color;
}

@mixin opacity($opacityValue){
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacityValue})";
	filter: alpha(opacity=$opacityValue);
	-moz-opacity: $opacityValue;
	-khtml-opacity: $opacityValue;
	opacity: $opacityValue;
}