/* Constants */
$linkColor: #333; //Base link color
$context: 16px; //Base browser font size
$unitRelative: em; //Relative font size unit

/* FONT SHORTHAND */
@mixin font($fontWeight, $fontSize, $lineHeight, $fontFamily){
	font-weight: $fontWeight;
	@include font_size($fontSize);
	line-height: $lineHeight;
	font-family: $fontFamily;
}

/* RELATIVE FONT SIZES */
@mixin font_size($target){
	font-size: $target/$context#{$unitRelative}; // Target / Context = Result
}

a {
	text-decoration: none;
	&:hover {text-decoration: underline;}
}